# Django Settings
SECRET_KEY=''
DEBUG=False
CSRF_COOKIE_SECURE=True
ALLOWED_HOSTS=
CSRF_TRUSTED_ORIGINS=

# Django Admin Settings
ADMIN_LOGIN=
ADMIN_PASSWORD=

# DB Settings
MYSQL_ROOT_PASSWORD=
MYSQL_DATABASE=
MYSQL_USER=
MYSQL_PASSWORD=

# Django Database Settings
DB_NAME=
DB_USER=
DB_PASSWORD=
DB_HOST=